.hero {
    height: 80vh;
    background: url(../../assets/img/post-image.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    color: $white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    &__title {}

    &__arrow {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: auto;
    }


}